<!DOCTYPE html>
<html>
<head>
    <!-- 引入该页面样式 -->
    <link href="/assets/home/css/MyCenter.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'Microsoft YaHei';
        }

        p {
            font-size: 4.5vw;
            margin-bottom: 0;
        }
    </style>
    <title>个人中心</title>
</head>
<body>
    <div class="top_div">
        <img src="/assets/home/images/bac.jpg" class="top_img">
        <div class="userInfo">
            <a href="./personal-data.html"><img class="uPic" src="/assets/home/images/pexels-spencer-selover-428364.jpg" /><br /></a>
            <img src="/assets/home/images/hy.png" class="hy" />
            <span class="uName" style="color: #674c3b; ">
                年费会员 2023-03-02到期
            </span>
            <p class="uBalance" style="color: rgb(74, 70, 66); ">Jack</p>
        </div>
    </div>

    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">我的资料</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">我的课程</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">数据分析</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">充值</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">联系我们</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">退出登录</a>
        </li>
    </ul>
</body>
</html>
